html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;

@tailwind components;

@tailwind utilities;
